// Here you can add other styles
.header-custom {
  background-color: #64C044;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.user-icon {
    color: white;
}

.bg-light {
    background-color: white !important;
}

.img-log {
    margin-right: 1rem;
}